.row{
    margin-right: 0px;
    margin-left: 0px;
}
.ex1 {
    height: 751px;
    overflow-y:scroll;
  }
.ex2 {
    height: 650px;
    overflow-y:scroll;
}
.tblbutton{
    width: 96%;
    margin-left: 4%;
    border-radius: 0px;
    margin-bottom: 2px;
}
body{
    background-color: rgba(211, 211, 211, 0.432);
}

.btnnuovo{
    margin-top: 25px;
}
