body{
    font-family: 'Raleway', sans-serif!important;
}


.row{
    margin-right: 0px;
    margin-left: 0px;
}
.ex1 {
    height: 751px;
    overflow-y:scroll;
  }
.ex2 {
    height: 650px;
    overflow-y:scroll;
}

.tblbutton{
    width: 96%;
    margin-left: 4%;
    border-radius: 0px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.tblbutton:hover{
    border: 1px solid black;
}


.tblbutton:not(:disabled):not(.disabled):focus{
    /* background: linear-gradient(to right, #ff4b1f, #ff9068); */

    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

body{
    background-color: rgba(211, 211, 211, 0.432);
}

.btnnuovo{
    margin-top: 25px;
}

.tblbutton:hover,.tblbutton:focus,.tblbutton:active, 
.tblbutton:active:focus:not(:disabled):not(.disabled),
.tblbutton:focus, .tblbutton:active, .tblbutton:hover{
    box-shadow: none!important;
    outline: 0;
}