.body{
    background-color: blue;
}
.btnvisibilita
{
    visibility: hidden;
}

.item:hover .btnvisibilita{
    visibility: visible;
}
.btn
{
    margin: 0px;
}

.item{
    border:1px solid rgba(209, 206, 206, 0.76);
    border-radius: 2px;
}
.prova{
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

ul{
    padding-left:0px;
}

.ex1 {
    margin:5px 0px 0px 5px;

    height: 733px;
    overflow-y:scroll;
  }
  .ex2 {
    margin:5px 0px 0px 5px;
    height: 633px;
    overflow-y:scroll;
  }

.tblbutton{
    margin: 5px 0px 0px 5px;
}

/* .btnnuovo{
    visibility: hidden;
} */






